* {
  box-sizing: border-box;
}

.upper button {
  float: right;
  margin: 1px;
}

.lower {
  clear: both;
}

.player_list {
  background: black;
  width: 13%;
  height: 100%;
  float: right;
  margin: auto;
  overflow: auto;
}

.player_list div {
  border: white solid 1px;
}

.player_list div a {
  display: block;
  text-decoration: none;
}

.player_list div a:hover {
  color: black;
  background-color: white !important;
}

.chat {
  border: white solid 1px;
}

.message_input_form {
  background: #2C2F33;
  padding: 3px;
  width: auto;
}

.message_input_form input {
  border: 0;
  padding: 10px;
  width: 100%;
  margin-right: 0.5%;
  color: white;
  background-color: black;
}

.message_input_form button {
  width: 9%;
  border: none;
  margin: 0;
  padding: 10px;
  display: none;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  height: 400px;
  overflow-y: auto;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #23272A;
}
