<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SC2 Mafia::about</title>
    <link rel="stylesheet" href="/static/css/base.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/" rel="home">
          <img src="/static/images/logo.png" alt="logo" id="logo">
          <h1>SC2 Mafia</h1>
        </a>
        <ul>
          <li><a href="/about" rel="about">소개</a></li>
          <li><a href="/game" rel="lobby">로비</a></li>
          <li><a href="/archive" rel="archive">기록실</a></li>
        </ul>
      </nav>
    </header>
    <h1>SC2 -Mafia-!</h1>
    <p>스타크래프트2의 인기 아케이드 -마피아-를 웹게임으로 구현했습니다!</p>
    <p>현재 구현되어 있는 설정: 8331 (총 1개)</p>
    <p>미구현된 것들은 차차 추가해나갈 예정입니다!</p>
    <p>====제작자====</p>
    <p>제작: Dark.Revenant</p>
    <p>번역, 유지 보수: Alien 및 한국 스2 -마피아- 카페 운영진</p>
    <p>웹게임 포팅: trulybright</p>
    <p>개발자 연락처: truebrightness@naver.com</p>
    <p>====음원====</p>
    <p>메시지 알림음:<p>
    <p>Thanks to, Mark DiAngelo</p>
    <p>From: http://soundbible.com/2067-Blop.html</p>
    <p>Distributor: 저작권 걱정없는 유튜브용 음원 & 무료 효과음 서비스 ‘뮤팟’</p>
    <p>https://www.mewpot.com</p>
    <p>====그림====</p>
    <p>좌우 배너: Fuse</p>
  </body>
</html>
