<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>SC2 Maifa::Archive</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
  </head>
  <body>
    {% for row in log %}
      <p>{{row}}</p>
    {% endfor %}
  </body>
</html>
