<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>SC2 Mafia</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/images/favicon.ico">
  </head>
  <body>
    {% if logged_in %}
      <form class="login-form" action="/game" method="get">
        <p class="login-text">SC2 -Mafia-</p>
        <input type="submit" value="로비로 가기" class="login-submit">
      </form>
    {% else %}
    <form class="login-form" action="/login" method="get">
      <p class="login-text">SC2 -Mafia-</p>
      <div id="naverIdLogin"></div>
    </form>
    {% endif %}
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>
  </body>
  <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
  <script type="text/javascript">
    'use strict';
    let naverLogin = new naver.LoginWithNaverId(
		{
			clientId: "bY2qhrwJZdj2joElsfWV",
			callbackUrl: "http://sc2mafia.kr/oauth",
			isPopup: false, /* 팝업을 통한 연동처리 여부 */
			loginButton: {color: "green", type: 3, height: 40} /* 로그인 버튼의 타입을 지정 */
		});
	/* 설정정보를 초기화하고 연동을 준비 */
	 naverLogin.init();
  </script>
</html>
