<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mafia</title>
  </head>
  <body>
    <h1>Mafia</h1>
    <p>Please Login</p>
    {{greetings}}
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="username">
      <br>
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="LOGIN">
    </form>
    <form class="" action="/register">
      <input type="submit" name="" value="register">
    </form>
  </body>
  <script type="text/javascript">
  </script>
</html>
