<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SC2 Mafia</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/lobby.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/lobby" rel="home">
          <img src="/static/images/logo.png" alt="logo" id="logo">
          <h1>SC2 Mafia</h1>
        </a>
        <ul>
          <li><a href="/about" rel="about">소개</a></li>
          <li><a href="/lobby" rel="lobby">로비</a></li>
          <li><a href="/archive" rel="archive">기록실</a></li>
        </ul>
      </nav>
    </header>
    <section class="main">
      <section class="room_list_section">
        <table class="room_list">
          <thead>
            <th>번호</th>
            <th>방제</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </section>
      <p>방제를 클릭하면 해당 방으로 이동합니다.</p>
      <button type="button" id="create_GameRoom_button">방 만들기</button>
      <section id="create_GameRoom_section">
        <p>방제: <input type="text" name="" value="" placeholder="방제" class="title"></p>
        <p>
          정원:
          <select class="capacity" name="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
          </select>
        </p>
      </section>
    </section>
  </body>
  <script src="/static/js/socket.io.js" charset="utf-8"></script>
  <script type="text/javascript">
    'use strict';
    const Socket = io('http://localhost:8090');
    Socket.emit('request_room_list', {});

    let create_GameRoom_button = document.querySelector('#create_GameRoom_button');
    create_GameRoom_button.onclick = (event) => {
      let create_GameRoom_section = document.querySelector('#create_GameRoom_section');
      console.log(create_GameRoom_section);
      if (create_GameRoom_section.style.display == 'block') {
        create_GameRoom(event);
      } else {
        create_GameRoom_section.style.display = 'block';
      }
    }

    function enter_GameRoom (roomID) {
      let roomID_input = document.querySelector('.roomID');
      location.href="./room/"+roomID;
    };

    function create_GameRoom (event) {
      let title = document.querySelector('.title').value;
      let capacity = document.querySelector('.capacity').value;
      Socket.emit('create_GameRoom', {
        'title': title,
        'capacity': Number(capacity),
      });
    };

    Socket.on('message', (data)=> {
      console.log(data);
    });
    Socket.on('create_GameRoom_success', (roomID)=> {
      console.log('create_GameRoom_success')
      location.href='./room/'+roomID;
    });
    Socket.on('enter_GameRoom_success', (roomID)=> {
      console.log('enter_GameRoom_success')
      location.href='./room/'+roomID;
    });
    Socket.on('failed_to_enter_GameRoom', (data)=>{
      switch (data['reason']) {
        case 'full':
          console.log('방이 꽉 찼습니다.')
          break;
        case 'No such room':
          console.log('그 ID로 된 방이 없습니다.')
          break;
        default:
      }
    });
    Socket.on('room_list', (room_list)=> {
      console.log(room_list)
      let tbody = document.querySelector('.room_list tbody');
      let html = '<tbody>';
      for (const [roomID, title] of Object.entries(room_list)) {
        html+='<tr><td>'+roomID+'</td><td>'+'<a href="#" onclick=enter_GameRoom('+roomID+')>'+title+'</a></td></tr>';
      }
      tbody.innerHTML = html;
    });
  </script>
</html>
