<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SC2 Mafia</title>
  </head>
  <body>
    방 번호:
    <input class="roomID" type="text" name="" value="">
    <button type="button" name="button" onclick="enter_room()">입장</button>
  </body>
  <script src="/static/socket.io.js" charset="utf-8"></script>
  <script type="text/javascript">
    'use strict';
    const Socket = io('http://localhost:8080');
    console.log(Socket);
    Socket.on('message', (data)=> {
      console.log(data);
    });
    function enter_room () {
      let roomID_input = document.querySelector('.roomID');
      let roomID = roomID_input.value;
      location.href="./room/"+roomID;
    }
  </script>
</html>
