<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>계정이 없거나, 아이디 또는 비밀번호가 잘못되었습니다.</p>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="username">
      <br>
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="LOGIN">
    </form>
    <form class="" action="/register">
      <input type="submit" name="" value="register">
    </form>
  </body>
</html>
