<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SC2 Mafia</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/lobby.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="/static/css/room.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/lobby" rel="home">
          <img src="/static/images/logo.png" alt="logo" id="logo">
          <h1>SC2 Mafia</h1>
        </a>
        <ul>
          <li><a href="/about" rel="about">소개</a></li>
          <li><a href="/lobby" rel="lobby">로비</a></li>
          <li><a href="/archive" rel="archive">기록실</a></li>
        </ul>
      </nav>
    </header>
    <section class="main" id="main">
      <section v-show="inLobby" class="lobby-menu">
        <button type="button" id="show-modal" @click="showModal=true" name="button">방 파기</button>
        <modal v-if="showModal" @close="showModal=false">
        </modal>
          <script type="text/x-template" id="modal-template">
          <transition name="modal">
            <div class="modal-mask">
              <div class="modal-wrapper">
                <div class="modal-container">
                  <div class="modal-header">
                    <slot name="header">
                      방 파기
                    </slot>
                  </div>
                  <div class="modal-body">
                    <slot name="body">
                      <p>방제: <input type="text" name="title" id="GameRoom_title" placeholder="방제"/></p>
                      <p>비밀번호: <input type="password" name="password" id="GameRoom_password" placeholder="비밀번호"/></p>
                      <p>정원:
                        <select id="GameRoom_capacity">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option selected value="15">15</option>
                        </select>
                      </p>
                      <p>설정:
                        <select id="GameRoom_setup">
                          <optgroup label="기본 제공 설정">
                            <option value="8331">8331</option>
                            <option value="power_conflict">공권력 충돌</option>
                            <option value="test" selected>시험용</option>
                          </optgroup>
                          <optgroup label="사용자 설정">
                          </optgroup>
                        </select>
                      </p>
                    </slot>
                  </div>
                  <div class="modal-footer">
                    <slot name="footer">
                      <button class="modal-default-button" @click="$emit('close')">파기</button>
                    </slot>
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </script>
      </section>
      <section v-show="inLobby" class="room_list_section">
        <table class="room_list">
          <thead>
            <th>번호</th>
            <th>방제</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </section>
      <!--TODO: player_list 구현-->
      <section v-show="!inLobby">
        <div class="upper">
          <button type="button" name="button" id="leave_GameRoom_button">나가기</button>
          <button type="button" name="button" id="ready_button">준비</button>
          <button type="button" name="button" id="lw_modal_button">유언</button>
          <button type="button" name="button" id="setup_button">설정</button>
        </div>
        <div class="lower">
          <hr>
          <div class="player_list">
          </div>
          <div class="chat">
            <ul id="messages">
            </ul>
          </div>
          <form onsubmit="send_message(event);" class="message_input_form">
            <input id="chat" autocomplete="off" placeholder="여기에 할말 입력"/>
            <button class="send_message_button">전송</button>
          </form>
        </div>
      </section>
    </section>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js" integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ==" crossorigin="anonymous"></script>
  <script type="text/javascript">
    "use strict";
    const Socket = io('http://localhost:8090');
    Socket.emit('request_room_list', {});
  </script>
  <script src="/static/js/socket_room.js" charset="utf-8"></script>
  <script crossorigin src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/static/js/main.js" type="module" charset="utf-8"></script>
</html>
