<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SC2 Mafia</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <form action="/register" method="post" class="login-form">
      <p>게임 내에서 사용할 닉네임을 입력해주세요.</p>
      <input type="text" name="nickname" placeholder="닉네임(한글, 영문, 숫자)" class="login-username" autofocus style="border-bottom: 1px solid white">
      {% if register_failed %}
        {% if reason=='NicknameTooLongError' %}
        <p>닉네임이 너무 깁니다. 8자 이하로 해주세요.</p>
        {% elif reason=='NicknameDuplicateError' %}
        <p>이미 사용 중인 닉네임입니다.</p>
        {% elif reason=='ImproperNicknameError' %}
        <p>닉네임이 올바르지 않습니다.</p>
        {% endif %}
      {% endif %}
      <input hidden type="text" name="access_token" value="" id="access_token_input">
      <input type="submit" value="회원가입" class="login-submit">
    </form>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>
  </body>
  <script type="text/javascript">
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const access_token = urlParams.get('access_token');
    const access_token_input = document.querySelector('#access_token_input');
    access_token_input.value = access_token;
  </script>
</html>
