<form action="/register" method="post">
  <input type="text" name="username" placeholder="username">
  <br>
  <input type="password" name="password" placeholder="password">
  <br>
  <input type="text" name="nickname" placeholder="nickname">
  <input type="submit" value="REGISTER">
</form>
