<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SC2 Mafia</title>
    <link rel="icon" href="/static/images/favicon.ico">
  </head>
  <body>
    {% if register_failed %}
      <p>회원가입에 실패했습니다.</p>
      {% if reason=='UsernameDucpliateError' %}
        <p>이미 사용 중인 사용자명입니다.</p>
      {% elif reason=='NicknameDuplicateError' %}
        <p>이미 사용 중인 닉네임입니다.</p>
      {% elif reason=='ImproperUsernameError' %}
        <p>사용자명이 올바르지 않습니다.</p>
      {% elif reason=='ImproperNicknameError' %}
        <p>닉네임이 올바르지 않습니다.</p>
      {% endif %}
    {% endif %}
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="사용자명(영문)">
      <br>
      <input type="password" name="password" placeholder="비밀번호">
      <br>
      <input type="text" name="nickname" placeholder="닉네임(한글, 영문)">
      <input type="submit" value="회원가입">
    </form>
  </body>
</html>
