<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <ul id="messages"></ul>
    <form onsubmit="send_message(event);">
      <input id="chat" autocomplete="off" /><button class="send_message_button">전송</button>
    </form>
  </body>
  <script src="/static/socket.io.js" charset="utf-8"></script>
  <script type="text/javascript">
    'use strict';
    const Socket = io.connect('http://localhost:8080');
    let chatLog = document.getElementById('messages');

    Socket.emit('enter_GameRoom', {
      'roomID': {{roomID}},
    })

    Socket.on('notification', (data)=> {
      let chat = document.createElement("li");
      switch (data['type']) {
        case 'enter':
          chat.innerHTML = data['who']+'님이 입장했습니다.';
          chatLog.appendChild(chat)
          break;
        case 'newhost':
          chat.innerHTML = data['who']+'님이 방장이 되었습니다.';
          chatLog.appendChild(chat)
          break;
        default:
          console.log(data);
      }
    });

    Socket.on('message', (data)=> {
      console.log(data);
      let chat = document.createElement("li");
      chat.innerHTML = data['who']+': '+data['message'];
      chatLog.appendChild(chat);
    });

    Socket.on('role', (role)=> {
      console.log(role);
      let chat = document.createElement("li");
      chat.innerHTML = '당신의 직업은 '+role+'입니다.';
      chatLog.appendChild(chat);
    })

    function send_message(event) {
      event.preventDefault();
      let chatInput = document.querySelector('#chat')
      let message = chatInput.value;
      Socket.emit('message', message);
      chatInput.value = '';
    };
  </script>
</html>
